<div class="container min-vh-100 d-flex align-items-center justify-content-evenly">
  <div class="d-flex flex-column mb-3 align-items-center">
    <div class="p-2">
      <a class="btn btn-primary" href="/create" role="button">Create New Game</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="/readgame" role="button">Fetch Available Games</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Update Game</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Delete Game</a>
    </div>
  </div>
  <div class="d-flex flex-column mb-3 align-items-center">
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Add Play to Game</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Fetch Report from Game</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Edit Plays from Game</a>
    </div>
    <div class="p-2">
      <a class="btn btn-primary" href="#" role="button">Delete Plays from Game</a>
    </div>
  </div>
</div>