<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>